#cardAd > img {
  height: 200px;
  width: 100%;
}

#cardAd {
  width: 379px;
}

.avatar {
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
}

#cardAd:hover {
  cursor: default;
}

#favoriteAd:hover {
  cursor: pointer;
  animation: beat 1s infinite;
}

.btnNoStyle {
  background-color: transparent;
  border: none;
  outline: none;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
