* {
  box-sizing: border-box;
}

#side > div > button {
  color: black;
  display: flex;
  align-items: center;
  font-weight: 600;
}

#side > div .active {
  color: red;
  border: 1px solid transparent;
}

#nav-config button,
#nav-config label {
  color: rgb(49, 49, 49);
  font-weight: 600;
}

#select-lang > option,
#select-lang {
  color: rgb(48, 47, 47);
  font-weight: 500;
}

.form-check-input-dark:checked {
  background-color: #424242;
}
.form-check-input-dark:focus {
  box-shadow: none;
}

@media (max-width: 992px) {
  #side > div > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0;
  }

  #side > div > button > i {
    margin-left: 0.5rem;
    border-bottom: 1px solid transparent;
  }

  #side > div {
    display: flex;
    justify-content: space-between;
  }

  #side {
    margin-top: auto;
    padding: 0;
  }

  #sideWrapper {
    position: fixed;
    bottom: 0;
  }

  img {
    width: 100%;
  }
}
