.full-height {
  height: 94vh;
}

.partial-height {
  height: 6vh;
}

p {
  margin: 0;
}

#search,
#searchCity {
  -webkit-text-stroke: 1px black;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}
